.todo-list-item-label 
.todo-list-item {
  font-size: 1.25rem;
}

.todo-list-item { 
  display: flex;
  align-items: start;
}

.todo-list-item button {
  width: 35px;
  margin: 3px;
  flex-shrink: 0;
}

.todo-list-item-label {
  margin-left: 1.25rem;
  top: 6px;
  cursor: pointer;
  flex-grow: 1;
  margin-right: 10px;
  word-break: break-word;
  position: relative;
  z-index: 1000;
  
}

.todo-list-item.done .todo-list-item-label {
  text-decoration: line-through;
  text-decoration-color: rgb(0, 0, 0);
}

.edit__input {
  width: 100%;
  max-width: 420px;
  padding: .30rem .90rem;
  top: 1px;
  left: 31px;
  font-size: 1.2rem;
  position: relative;
  color: rgb(0, 0, 0);
  background: none;
  outline: none;
  border: none;
}

.chex {
  position: relative;
  right: 15px;
  top: -2px;
  color: rgba(141, 137, 137, 0.295);
  transition: .5s;
}

.chexi {
  color: rgb(0, 255, 98);
}

.crazy {
  animation: animate .6s infinite;
}

.o:hover {
  animation: none;
}

@keyframes animate {
  0%   {
    transform:rotate(30deg);
    text-shadow: 0 0 2px red;
  }

  50% {
    transform: translateY(-4px);
    text-shadow: 0 0 4px red;
  }
  
  100%  {
    transform:rotate(-10deg);
    text-shadow: 0 0 20px rgb(255, 255, 255);
  }
  
}

.o {
  font-size: 18px;    
}