.todo-app {
    margin: 0 auto 0 auto;
    max-width: 600px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
   
}

.top-panel {
    margin: 1rem 0;
}