.btn-group {
   width: 50%;
   height: 10px;
   line-height: 1;
   left: 271px;
   align-items: center;
   top: 50px;
}

.btn-botton {
   background: rgb(6, 34, 160);
}

.botton {
   color: rgb(182, 182, 182);
   border: 1px solid rgb(139, 139, 139);
   font-size: 15px;
   font-weight: 700;  
}

.botton:hover {
   color: rgb(104, 103, 103);
}

.btn:focus {
   box-shadow: none;
}


